<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Nuevo Diagnóstico: 
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-calculator"></i><a href="#/resultado"> Diagnósticos</a>
                </li>
                <li class="active">
                    <i class="fa fa-fw fa-plus"></i> Nuevo Diagnóstico
                </li>
            </ol>
        </div>
    </div>
     <!-- /.Page Heading -->

    <div class="form-group">
                <div class="col-lg-11 col-md-offset-1">
                    <div class="col-lg-4">
                         <label class="control-label">Descripción Diagnóstico:</label>
                    </div>
                    <div class="col-lg-6">
                        <input class="form-control" ng-model='ndiag.descripcion' type="text" placeholder="Descripcion(*)" required/>
                    </div>
                    <br/><br/>
                </div>
            <ng-form name="formDosis">
                <div class="col-lg-11 col-md-offset-1">
                    <div class="col-lg-4">
                         <label class="control-label">Agregar Parámetro:</label>
                    </div>

                    <br/><br/>
                </div>

                <div class="col-lg-11 col-md-offset-1">
                    <div class="col-lg-2">
                         <label class="control-label">Parámetro: </label>
                    </div>
                    <div class="col-lg-4">
                        <select class="form-control" ng-model='npar.id_parametro' ng-change="tipoParametro(npar.id_parametro)" required>
                        <option value="">- Seleccionar Parámetro -</option>
                        <option ng-repeat="pa in parametros" value="{{pa.id_parametro}}">{{pa.nombre_parametro}} ({{pa.unidad}})</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <button type="button" class="btn btn-primary glyphicon glyphicon-function" ng-click="open_formula()"> F </button>
                    </div>
                    <br/><br/>
                </div>

                <div class="col-lg-11 col-md-offset-1">
                    <div class="col-lg-2">
                         <label class="control-label">Operación:</label>
                    </div>
                    <div class="col-lg-4">
                        <select class="form-control" ng-model='npar.id_operacion' required>
                        <option value="">- Seleccionar Operación -</option>
                        <option ng-disabled="pa.id_operacion != 4 && tipo==3" ng-repeat="pa in operaciones" value="{{pa.id_operacion}}">{{pa.operacion}}</option>
                        </select>
                    </div>
                    
                   <div ng-if="tipo == 1" class="col-lg-3">
                        <input  class="form-control" ng-model='npar.valor' type="number" placeholder="Valor" required/>
                    </div>

                    <div ng-if="tipo == 3" class="col-lg-3">
                        <select class="form-control" ng-model="npar.valor" required>
                            <option value="">- Seleccionar -</option>
                            <option ng-repeat="op in Opciones | filter:{id_parametro:npar.id_parametro}:true" value="{{op.id_maestro}}">{{op.etiqueta}}</option>
                        </select>
                    </div>

                    <br/><br/>
                </div>

                <div class="col-lg-10 col-md-offset-1">
                    <br/>
                </div>
                <div class="col-lg-10 col-lg-offset-3">
                    <div class="col-lg-3">
                       <button type="button" ng-click="agregar_parametro(npar, formDosis.$valid)" class="col-lg-12 col-xs-12 btn btn-primary">Agregar</button>
                    </div>
                    <div class="col-lg-3">
                       <a href="#/diagnosticos"><button type="reset" class="col-lg-12 col-xs-12 btn btn-primary">Cancelar</button></a>
                    </div>
                </div>
            </ng-form>

            <div class="col-lg-12">
                <div class="col-lg-2">
                   <br/>
                </div>
            </div>

            <div class="form-group" ng-show="paramDiag.length>0">
                <div class="col-lg-8 col-lg-offset-2">       
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                              <th>Parámetro</th>
                              <th>Operación</th>
                              <th>Valor</th>
                              <th>Quitar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat='p in paramDiag track by $index'>
                            <td ng-if="p.formula==0"> {{p.nombre_parametro}} </td>
                            <td ng-if="p.formula==1"> <span ng-repeat="fr in p.valores">+ ({{fr.multiplicador}})*{{fr.nombre_parametro}}</span> </td>
                            <td> {{p.operacion}} </td>
                            <td> <span ng-if="p.tipo !=3">{{p.valor}}</span> <span ng-if="p.tipo ==3">{{p.etiqueta}}</span> </td>
                            <td ng-click="eliminarParametro($index)">
                                <a href="" title="Eliminar"><span class="glyphicon glyphicon-trash" style="font-size: 20px;"></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                </div>

                <div class="col-lg-10 col-lg-offset-3">
                    <div class="col-lg-3">
                       <button type="button" ng-click="crearDiagnostico(ndiag)" class="col-lg-12 col-xs-12 btn btn-primary">Crear Diagnóstico</button>
                    </div>
                    <div class="col-lg-3">
                       <a href="#/diagnosticos"><button type="button" class="col-lg-12 col-xs-12 btn btn-primary">Cancelar</button></a>
                    </div>
                </div>

            </div>
    </div>
</div>
