<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Nuevo Parámetro: 
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-cubes"></i><a href="#/parametro"> Parámetros</a>
                </li>
                <li class="active">
                    <i class="fa fa-cube"></i> Nuevo Parámetro
                </li>
            </ol>
        </div>
    </div>
     <!-- /.Page Heading -->

    <div class="form-group">
        <form ng-submit="guardarParametro(pa)">
                <div class="col-lg-10 col-md-offset-1">
                    <div class="col-lg-2">
                         <label class="control-label">Nombre :</label>
                    </div>
                    <div class="col-lg-6">
                        <input class="form-control" ng-model='pa.nombre_parametro' type="text" placeholder="Nombre(*) " required/>
                    </div>
                    <br/><br/>
                </div>

                <div class="col-lg-10 col-md-offset-1">
                    <div class="col-lg-2">
                         <label class="control-label">Abreviatura :</label>
                    </div>
                    <div class="col-lg-6">
                        <input class="form-control" ng-model='pa.abreviatura' type="text" placeholder="Abreviatura"/>
                    </div>
                    <br/><br/>
                </div>

                <div class="col-lg-10 col-md-offset-1">
                    <div class="col-lg-2">
                         <label class="control-label">Tipo de Dato:</label>
                    </div>
                    <div class="col-lg-4">
                        <select class="form-control" ng-model='pa.id_tipo_dato' required>
                        <option  value="">- SeleccionarTipoDato </option>
                        <option ng-repeat="td in tipoDatos" value="{{td.id_tipo_dato}}">{{td.nombre_tipo}}</option>
                        </select>
                    </div>
                    <br/><br/>
                </div>

                <div class="col-lg-10 col-md-offset-1">
                    <div class="col-lg-2">
                         <label class="control-label">Unidad :</label>
                    </div>
                    <div class="col-lg-6">
                        <input class="form-control" ng-model='pa.unidad' type="text" placeholder="Unidad"/>
                    </div>
                    <br/><br/>
                </div>

                <div class="col-lg-10 col-md-offset-1">
                    <br/>
                </div>

                <div class="col-lg-10 col-lg-offset-3">
                    <div class="col-lg-2">
                       <button type="submit" class="col-lg-12 col-xs-12 btn btn-primary">Crear</button>
                    </div>
                    <div class="col-lg-2">
                       <a href="#/parametro"><button class="col-lg-12 col-xs-12 btn btn-primary">Cancelar</button></a>
                    </div>
                </div>
        </form>
    </div>
</div>
