<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Parámetros: 
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-cubes"></i><a href="#/parametro"> Parámetros</a>
                </li>
                <li class="active">
                    <i class="fa fa-list"></i> Gestión de opciones seleccionables
                </li>
            </ol>
        </div>
    </div>
     <!-- /.Page Heading -->

   <div class="form-group">
        <div class="col-lg-10 col-lg-offset-1">
                <h3 class="control-label">Opciones de Parametro: <b>{{Parametro.nombre_parametro}} </b></h3>
 
            <div class="table-responsive">
                <div class="dataTable_wrapper">
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"  class="row-border hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Etiqueta</th>
                                <th>Estado</th>
                                <th class="text-center" ng-show="Perfil.perfil==1">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="et in Etiquetas" >
                                <td> {{et.id_maestro }}</td>
                                <td> {{et.etiqueta }}</td>
                                <td> {{et.estado | filterActivo }}</td>
                                <td class="text-center" ng-show="Perfil.perfil==1"><a href="" ng-show=" Perfil.perfil==1" title="Eliminar" ng-click="eliminarOpcion($index, et.id_maestro)"><span class="glyphicon glyphicon-trash"></a></td>

                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.datatable wrapper -->
                
            </div> <!-- /.table-responsive -->
        </div>
    </div><!-- /.Nuevo-fluid -->

    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Nueva Etiqueta:</h3></br>
            <form id="formParametro" ng-submit="nuevaEtiqueta(net)">
                <div class="col-md-6">
                    <input id="inputEtiqueta" class="form-control col-md-12 col-xs-12" ng-model='net.etiqueta' type="text" placeholder="Nombre de Nueva Etiqueta" required>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="col-md-3 col-xs-5 btn btn-primary">Agregar</button>
                    <a href="#/parametro"><button type="cancel" class="btn btn-primary col-md-3 col-xs-5 col-md-offset-1 col-xs-offset-1">Volver</button></a>
                </div>
            </form>
        </div>
    </div>



</div>
