<div class="container-fluid">

 <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Reporte:
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-print"></i> Reporte
                </li>
            </ol>
        </div>
    </div>
     <!-- /.Page Heading -->

    <div class="form-group">
        <div class="col-lg-12">       
            <div class="table-responsive">
                <div class="dataTable_wrapper">
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"  class="row-border hover">
                        <thead>
                            <tr>
                                <th>Fecha Medición</th>
                                <th>Resultado</th>
                                <th>Parámetros</th>
                                <th>Coordenadas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rep in resporte" >
                                <td> {{rep.fecha}}</td>
                                <td> {{rep.resultado | filterResultado}}</td>
                                <td> <span ng-repeat="paxdi in ParametrosDiagnostico | filter : {id_diagnostico:diag.id_diagnostico}:true"> {{paxdi.nombre_parametro}} {{paxdi.signo}} <span ng-if="paxdi.id_tipo_dato!=3">{{paxdi.valor}}</span><span ng-if="paxdi.id_tipo_dato==3">{{paxdi.etiqueta}}</span> </span> </td>
                                <td> {{diag.estado | filterActivo}}</td>
                                <td><a href="" ng-show="diag.estado==1 && Perfil.perfil==1" title="Desactivar" ng-click="cambiarEstadoDiagnostico($index, diag.id_diagnostico, diag.estado)"><span class="glyphicon glyphicon-off" style="font-size: 20px"></a>
                                  <a href="" ng-show="diag.estado==0 && Perfil.perfil==1" title="Activar" ng-click="cambiarEstadoDiagnostico($index, diag.id_diagnostico, diag.estado)"><span class="glyphicon glyphicon-off" style="font-size: 20px; color:red"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.datatable wrapper -->
                
            </div> <!-- /.table-responsive -->
        </div>
    </div><!-- /.Nuevo-fluid -->
</div><!-- /.row -->